html,
body {
    height: 100%;
}

body {
    @extend %dmsans-400;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1470px;
    margin: 0 auto;
    padding: 0 15px;
}

.title {
    color: #191919;
    @extend %dmsans-700;
    font-size: 36px;
    margin-bottom: 30px;
}